@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="text-center">
    <img class="logo" src="~/logo2.jpg" alt="Retro style word art that says 'Battle of Champions'" />
       <h2 class="retro-animated">Welcome to the Battle of Champions data storage application!</h2>
    
      <p class="retro-static">  If this is your first time using the app, please click <span class="emphasis">Champions</span> or <span class="emphasis">Equipment</span> in the Nav Bar, then click the
        "Add migrations" button when prompted (or use the indicated commands in CLI or PM console). Then, refresh the page.
    </p>
    <p class="retro-static"> After that, go ahead and add some pieces of <span class="emphasis">Equipment</span> to the database first.</p>
    <p class="retro-static"> Then add some <span class="emphasis">Champions</span> after you have created some equipment to give them.</p>
    <img class="image" src="~/hero.jpg" alt="Retro style pixel art of several fighter characters" />
</div>
