@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Battle of Champions</h1>
    <p>Welcome to the Battle of Champions app! Use the buttons below to Add or View a champion, or Battle two existing champions!</p>
</div>
