@model IEnumerable<BattleOfChampions.Models.Champion>

<p>
    <a asp-action="Create">Create New Champion</a>
</p>
<h1> Select a Player Champion</h1>
<select name="player">
    <option value="">Champions</option>
    <option value="1">The Devil</option>
    <option value="2">Athena</option>
    <option value="3">Kali</option>
</select>

<h1> Select an Opponent Champion</h1>
<select name="opponent">
    <option value="">Champions</option>
    <option value="1">The Devil</option>
    <option value="2">Athena</option>
    <option value="3">Kali</option>
</select>

<!-- This button should pop out a console window that prints lines showing the progress of the fight
    Example:
       TURN 0: Champion A has 20 health! Champion B has 20 health!
       Champion A has a higher speed and goes first
       ...
       TURN 1: Champion A attacks Champion B for 4 points! Champion B has 16 health!
       TURN 2: Champion B attacks Champion A for 2 points! Champion A has 18 health!
       TURN 3: Champion A attacks Champion B for 0 points! Champion B avoided damage!
       TURN 4: Champion B attacks Champion A for 18 points! Champion A has 0 health!
       ...
       CHAMPION B is the winner!
-->
<div class="form-group">
    <input type="submit" value="BATTLE!" class="btn btn-primary" />
</div>